@media screen and (max-width:1450px) 
{

    header {
        height: 15vh;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        justify-content: center;
        margin: 1px 0;
        width: 100px;
        height: 100px;

    }

    .navbar ul {
        justify-content: center;

    }

    .navbar ul li a {
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        font-size: 10px;
    }



    .branding {
        background-image: url(img/background.jpg);
        background-repeat: no-repeat;
        background-size: 1500px 300px;
        align-items: center;
        justify-content: center;
    }

    .branding h1 {
        font-size: 25px;
    }

    .branding p {
        font-size: 10px;
    }

    .para {
        flex-wrap: wrap;
    }

    .box1 {
        width: 250px;
        font-size: 14px;
    }

    .box1 img {
        width: 100px;
        padding: 0 75px;

    }

    .box2 {
        width: 250px;
        font-size: 14px;

    }

    .box2 img {
        width: 100px;
        padding: 0 75px;
    }

    .box3 {
        width: 250px;
        font-size: 14px;
    }

    .box3 img {
        width: 100px;
        padding: 0 75px;
    }

    .form {}

    /* .forming
{
    text-align: center; 
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 30px;

} */

    .forming input {
        display: flex;
        justify-content: center;
        width: 150px;


    }

    .forming label {
        font-size: 1rem;

    }

    .form h1 {

        font-size: 20px;
    }

}