*
{
    margin: 0;
    padding: 0;
}

header
{
    background-color: #682020dc;
}

nav .logo img
{
    
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.logo img
{
    width: 70px;
    height: 70px;
}

.navbar 
{
    display : flex;
    height: 10vh;
    
}

nav ul
{
    height: 9vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

nav ul li
{
    padding: 0 30px;
    list-style: none;

}

nav ul li a
{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;

}

.container
{
    background-color: rgb(183, 63, 63);
    min-height: calc(100vh - 10vh - 6vh);
}

.branding 
{
   height: 300px;
   background-image: url(img/background.jpg);
   background-repeat: no-repeat;
   background-size: 2000px 300px;
}

.branding h1
{
    color: white;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
}

.branding p
{
    color: white;
    /* width: 1300px; */
    margin: 0 50px;
    text-align: center;
}

.branding h1
{
    text-align: center;
    padding: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.btn
{
    border: 3px solid black;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
    width: 80px;
    font-weight: bold;
    margin: auto;
    display: flex;
}

.btn:hover
{
    background-color: black;
    color: white;
    font-weight: bolder;

}

.para
{
    display: flex;
    /* width: 1400px; */
    /* margin: 30px; */
     justify-content: center;
    /* display: inline-block;  */
    text-align: center;


}

.box1
{
    width: 400px;
    height: 450px;
    background-color: rgb(253, 127, 127);;
    border: 2px solid black;
    align-self: flex-end;
    padding: 2px;
    margin: 30px;
    border-radius: 12px;

}

.box1 img
{
    width: 250px;
    padding: 0 75px;

}

.box2
{
    width: 400px;
    height: 450px;
    background-color: rgb(253, 127, 127);;
    border: 2px solid black;
    align-self: flex-end;
    padding: 2px;
    margin: 30px;
    border-radius: 12px;

}

.box2 img
{
    width: 150px;
    padding: 0 125px;
}

.box3
{
    width: 400px;
    height: 450px;
    background-color: rgb(253, 127, 127);
    border: 2px solid black;
    border-radius: 12px;
    align-self: flex-end;
    padding: 2px;
    margin: 30px;
}

.box3 img
{
    width: 150px;
    padding: 0 125px;
}

.para h2
{
    text-align: center;
}

.form
{
    /* width: 1500px; */
    height: 400px;
    background-image: url(img/contact\ us.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 500px;
    /* margin: 0;
    padding: 0; */
    
}

.forming
{
    /* text-align: center; */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 30px;

}

.forming input
{
    display: flex;
    justify-content: center;
    padding: 0.3rem;
    margin: 5px;
    width: 500px;
    border: 2px solid wheat;
    border-radius: 8px;

}

.forming label
{
    font-size: 1.3rem;
    
}

.form h1
{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.submit
{
    border: 3px solid black;
    border-radius: 5px;
    font-size: 14px;
    padding: 5px 14px;
    width: 80px;
    font-weight: bold;
    display: flex;
    margin: auto;
}

.submit:hover
{
    background-color: black;
    color: white;
    font-weight: bolder;

}

footer
{
    background-color: black;
    height: 6vh;
    color: white;
    text-align: center;
    padding-top: 10px;
}
